# importing libraries

In [1]:
import pandas as pd
import numpy as np

# importing dataset

In [2]:
dataset = pd.read_csv('data.csv')
dataset.head()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1

# Mean

What is mean? <br>
Mean is the average of the given numbers and is calculated by dividing the sum of given numbers by the total number of numbers.

$$ ( \frac{1}{n} \sum_{i=i}^{n} x_{i})$$

In [12]:
dataset[['Mthly_HH_Income','Mthly_HH_Expense',
         'No_of_Fly_Members','Emi_or_Rent_Amt',
         'Annual_HH_Income','No_of_Earning_Members']].mean()

Mthly_HH_Income           41558.00
Mthly_HH_Expense          18818.00
No_of_Fly_Members             4.06
Emi_or_Rent_Amt            3060.00
Annual_HH_Income         490019.04
No_of_Earning_Members         1.46
dtype: float64

# Median

What is median?<br>
Median is defined as the middle value of a sorted list of numbers.

In [13]:
dataset[['Mthly_HH_Income','Mthly_HH_Expense',
         'No_of_Fly_Members','Emi_or_Rent_Amt',
         'Annual_HH_Income','No_of_Earning_Members']].median()

Mthly_HH_Income           35000.0
Mthly_HH_Expense          15500.0
No_of_Fly_Members             4.0
Emi_or_Rent_Amt               0.0
Annual_HH_Income         447420.0
No_of_Earning_Members         1.0
dtype: float64

# Mode

What is mode?<br>
Mode is the value that appears most frequently in a data set.

In [14]:
dataset[['Mthly_HH_Income','Mthly_HH_Expense',
         'No_of_Fly_Members','Emi_or_Rent_Amt',
         'Annual_HH_Income','No_of_Earning_Members']].mode()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,No_of_Earning_Members
0,45000,25000,4,0,590400,1

# Variance

What is variance?<br>
Variance is a measurement of the spread between numbers in a data set.

$$
\sigma^2 = \frac{\displaystyle\sum_{i=1}^{n}(x_i - \mu)^2} {n}
$$

In [17]:
variance = dataset[['Mthly_HH_Income','Mthly_HH_Expense',
         'No_of_Fly_Members','Emi_or_Rent_Amt',
         'Annual_HH_Income','No_of_Earning_Members']].var()

In [19]:
variance

Mthly_HH_Income          6.811009e+08
Mthly_HH_Expense         1.461733e+08
No_of_Fly_Members        2.302449e+00
Emi_or_Rent_Amt          3.895551e+07
Annual_HH_Income         1.024869e+11
No_of_Earning_Members    5.391837e-01
dtype: float64

In [21]:
for i in variance:
    print(i)

681100853.0612245
146173342.85714284
2.3024489795918366
38955510.20408163
102486925397.9167
0.5391836734693878

# Standard Deviation

What is standard deviation?<br>
Standard Deviation is a measure which shows how much variation (such as spread, dispersion, spread,) from the mean exists.

$$
s = \sqrt{variance} .
$$

In [25]:
standard_deviation = dataset[['Mthly_HH_Income','Mthly_HH_Expense',
         'No_of_Fly_Members','Emi_or_Rent_Amt',
         'Annual_HH_Income','No_of_Earning_Members']].std()

In [26]:
standard_deviation

Mthly_HH_Income           26097.908979
Mthly_HH_Expense          12090.216824
No_of_Fly_Members             1.517382
Emi_or_Rent_Amt            6241.434948
Annual_HH_Income         320135.792123
No_of_Earning_Members         0.734291
dtype: float64

# Correlation

What is correlation?<br>
Correlation is a statistical measurement to measure the relation betwen two variables. The Correlation between two variables lies between -1 to +1. If our corealation value>1 or <1 then there must be some error in our calculations.The +1 known as perfect positive co-rrelation and -1 denotes the perfect negative correlation.

In [28]:
dataset.corr()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,No_of_Earning_Members
Mthly_HH_Income,1.000000,0.649215,0.448317,0.036976,0.970315,0.347883
Mthly_HH_Expense,0.649215,1.000000,0.639702,0.405280,0.591222,0.311915
No_of_Fly_Members,0.448317,0.639702,1.000000,0.085808,0.430868,0.597482
Emi_or_Rent_Amt,0.036976,0.405280,0.085808,1.000000,0.002716,-0.097431
Annual_HH_Income,0.970315,0.591222,0.430868,0.002716,1.000000,0.296679
No_of_Earning_Members,0.347883,0.311915,0.597482,-0.097431,0.296679,1.000000